<tbody>
    <center>
        <h1>Selección de consulta de data especial</h1>

        <h3><br>a)Listado de rutas con sus horarios</h3>
            <p><a class="btn btn-primary" href="/rutas/tabla">Ir &raquo;</a>
            </p>


        <h3><br>b)Dado una fecha indicar lo recaudado en dolares, pago debito.</h3>
            <p><a class="btn btn-primary" href="/consultas/consulta_debito">Ir &raquo;</a></p>


        <h3><br>c)Boleto</h3>
            <p><a class="btn btn-primary" href="/consultas/consulta_boletos" >Ir &raquo; </a>
            </p>

        <h3><br>d)Listado de pasajeros dada la ruta, fecha y hora de salida</h3>
            <p><a class="btn btn-primary" href="/consultas/consulta_listado" >Ir &raquo; </a>
            </p>

        <h3><br>e)Total de ventas dado un período presentado por días</h3>
            <p><a class="btn btn-primary" href="/consultas/consulta_ventasperiodo" >Ir &raquo; </a>
            </p>
        
        <h3><br>f)Histórico de viajes de un cliente dado su cédula.</h3>
            <p><a class="btn btn-primary" href="/venta/buscarcliente" >Ir &raquo; </a>
            </p>
        
         <h3><br>g)Recaudación por concepto de tasa de salida dado un período, presentado por días</h3>
            <p><a class="btn btn-primary" href="/consultas/consulta_recaudacion_tasa" >Ir &raquo; </a>
            </p>
        
         <h3><br>h)Listado de novedades dado un periodo </h3>
            <p><a class="btn btn-primary" href="/novedades/tabla" >Ir &raquo; </a>
            </p>

          <h3><br>i)Datos de los viajes dado el número de cedula de un chofer y un periodo</h3>
            <p><a class="btn btn-primary" href="/consultas/consulta_chofer" >Ir &raquo; </a>
            </p>

    </center>
</tbody>