<tbody>
    <center>
        <h1>Interfaz llenado DATA de Tablas</h1>

        <h3><br>Tabla data Rutas </h3>
            <p>Presione aqui para agregar o modifcar data...</p>
            <p><a class="btn btn-primary" href="/rutas/addruta">Agregar &raquo;</a>
            <a class="btn btn-primary" href="/rutas/">Modificar &raquo;</a>
            <a class="btn btn-primary" href="/novedades/addnovedad">Agregar Novedad &raquo;</a>
            <a class="btn btn-primary" href="/novedades/">Modificar Novedades &raquo;</a>
            </p>


        <h3><br>Tabla data Cliente</h3>
            <p>Presione aqui para agregar o modifcar data...</p>
            <p><a class="btn btn-primary" href="/signup">Agregar &raquo;</a></p>


        <h3><br>Tabla data Chofer</h3>
            <p>Presione aqui para agregar o modifcar data...</p>
            <p><a class="btn btn-primary" href="/chofer/addchofer" >Agregar &raquo; </a>
            <a class="btn btn-primary" href="/chofer/" >Modificar &raquo; </a>
            </p>


        <h3><br>Tabla data Empleado</h3>
            <p>Presione aqui para agregar o modifcar data...</p>
            <p><a class="btn btn-primary" href="/empleado/addempleado">Agregar &raquo;</a>
            <a class="btn btn-primary" href="/empleado/">Modificar &raquo;</a>
            </p>


        <h3><br>Tabla data Flota</h3>
            <p>Presione aqui para agregar o modifcar data...</p>
            <p><a class="btn btn-primary" href="/flota/addflota">Agregar &raquo;</a>
            <a class="btn btn-primary" href="/flota">Modificar &raquo;</a>
            </p>
    </center>
</tbody>