<tbody>
    <center>
    <h1>Interfaz Muestra de DATA de Tablas</h1>

        <h3><br>Tabla data Rutas </h3>
            <p>Presione aqui para agregar o modifcar data...</p>
            <p><a class="btn btn-primary" href="/rutas/tabla">Mostrar Tabla &raquo;</a>
            <p><a class="btn btn-primary" href="/novedades/tabla">Mostrar Tabla de novedades &raquo;</a>
            </p>

        <h3><br>Tabla data Cliente</h3>
            <p>Presione aqui para agregar o modifcar data...</p>
            <p><a class="btn btn-primary" href="/tablacliente">Mostrar Tabla &raquo;</a></p>


        <h3><br>Tabla data Chofer</h3>
            <p>Presione aqui para agregar o modifcar data...</p>
            <p><a class="btn btn-primary" href="/chofer/tablachofer" >Mostrar Tabla &raquo; </a>
            </p>


        <h3><br>Tabla data Empleado</h3>
            <p>Presione aqui para agregar o modifcar data...</p>
            <p><a class="btn btn-primary" href="/empleado/tablaempleado">Mostrar Tabla &raquo;</a>
            </p>


        <h3><br>Tabla data Flota</h3>
            <p>Presione aqui para agregar o modifcar data...</p>
            <p><a class="btn btn-primary" href="/flota/tablaflota">Mostrar Tabla &raquo;</a>
            </p>

        <h3><br>Tabla data Ventas realizadas</h3>
            <p>Presione aqui para ver tabla...</p>
            <p><a class="btn btn-primary" href="/venta">Mostrar Tabla &raquo;</a>
            </p>

    </center>
</tbody>