<main class="index">

    <header class="masthead d-flex">
        <div class="container text-center my auto">
            <h1 class="mb-1"> JG Travel’s</h1>
            <div class="container marketing">
      <div class="row">
        <div class="col-lg-4">  
          <h3><br><br><br>Rutas</h3>
          <p>Presione aqui para poder observas mas detalles de las rutas disponibles...</p>
          <p><a  class="btn btn-primary" href="/rutas/tabla">Comenzar &raquo;</a></p>
        </div>
       
        <div class="col-lg-4">
          <h3><br><br><br>Agregar data necesaria</h3>
          <p>Presione aqui para realizar el crub de la data...</p>
          <p><a class="btn btn-primary" href="/tablasdata">Comenzar &raquo;</a></p>
        </div>
        
        <div class="col-lg-4">
          <h3><br><br><br>Registro de data por tablas</h3>
          <p>Registro de tablas...</p>
          <p><br><a class="btn btn-primary" href="/tablasdata/tablasdata">Ir... &raquo;</a></p>
        </div>

         <div class="col-lg-4">
            <h3><br><br><br>Realizar una compra</h3>
          <p>Presione para realizar una compra, debe estar registrado para poder realizar una compra...</p>
          <p><br><a class="btn btn-primary" href="/signup">Comenzar &raquo;</a></p>
        </div>

        <div class="col-lg-4">
            <h3><br><br><br>Agregar Novedad a una Salida / Ruta</h3>
          <p>Presione para actualizar novedades sobre una ruta...</p>
          <p><br><a class="btn btn-primary" href="/novedades/addnovedad">Comenzar &raquo;</a></p>
        </div>

          <div class="col-lg-4">
             <h3><br><br><br>Consultas de Data especial</h3>
          <p>Registro de tablas...</p>
          <p><br><a class="btn btn-primary" href="/consultas">Ir... &raquo;</a></p>
          </div>
      </div>
      </div>


      </div>
    </header>

</main>