<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Usuario Ingresado {{user.ci}}</h3>
                    <h4>{{user.nombre}}</h4>
                    <h4>{{user.apellido}}</h4>
                    <a href="/rutas/tablaprofile" class="btn btn-success m-4">
                        Vender
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>